.bodyContainer {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
}

.notebookFor {
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    color: rgb(119, 119, 119);
    margin: 24px 0px 0px;
    padding: 0px;
}

.bookTitle {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    color: #333333;
    margin-top: 22px;
    padding: 0px;
}

.authors {
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    color: rgb(119, 119, 119);
    margin-top: 22px;
    margin-bottom: 24px;
    padding: 0px;
}

.citation {
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    color: #333333;
    margin-top: 22px;
    margin-bottom: 24px;
    padding: 0px;
}

.sectionHeading {
    font-size: 24px;
    font-weight: 700;
    text-align: left;
    color: #333333;
    margin-top: 24px;
    padding: 0px;
}

.noteHeading {
    font-size: 14px;
    font-weight: 500;
    text-align: left;
    color: #333333;
    margin-top: 20px;
    padding: 0px;
}

.noteText {
    font-size: 18px;
    font-weight: 500;
    text-align: left;
    color: #333333;
    margin: 2px 0px 0px;
    padding: 10px;
}

.highlight_blue {
    border-left: solid rgb(178, 205, 251) 0.5em;
}

.highlight_orange {
    border-left: solid  #ffd7ae 0.5em;
}

.highlight_pink {
    border-left: solid rgb(255, 191, 206) 0.5em;
}

.highlight_yellow {
    border-left: solid rgb(247, 206, 0) 0.5em;
}

/*
.notebookGraphic {
    margin-top: 10px;
    text-align: left;
}
*/
.notebookGraphic {
    margin-top: 10px;
    margin-right: 15px;
    text-align: left;
    width: 20%;
    display:inline-block;
}

.notebookGraphic img {
    -o-box-shadow:      0px 0px 5px #888;
    -icab-box-shadow:   0px 0px 5px #888;
    -khtml-box-shadow:  0px 0px 5px #888;
    -moz-box-shadow:    0px 0px 5px #888;
    -webkit-box-shadow: 0px 0px 5px #888;
    box-shadow:         0px 0px 5px #888; 
    max-width: 100%;
    height: auto;
}

hr {
    border: 0px none;
    height: 1px;
    background: none repeat scroll 0% 0% rgb(221, 221, 221);
}
        
.header {
    width: 75%;
    display:inline-block;
}
.container {
      display: flex;
      align-items: center;
  }